@model AdminGenresViewModel
<h1>Admin Genre List</h1> 
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th width:"30px;">#</th>
            <th>Name</th>
            <th width:"70px>Count</th>
            <th width:"160px">Count</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var genre in Model.Genres)
            {
                <tr>
                    <td>@genre.GenreId</td>
                    <td>@genre.Name</td>
                    <td>@genre.Count</td>
                    <td>
                        <form action="/Admin/GenreDelete/" method="post" style="display:inline">
                            <input  type="hidden" name="genreId" value="@genre.GenreId"/>
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                       
                        <a href="/Admin/GenreUpdate/@genre.GenreId" class="btn btn-warning btn-sm">Update</a>
                    </td>
                </tr>
            }
        </tbody>
  
   
</table>