@model Movie 


<h1> Add Movie</h1>
<hr />

<form method="post" asp-controller="Movies" asp-action="AddMovie">
    <div class="form-group">
        <label asp-for="Title"> </label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Description"> </label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-info"></span>

    </div>
    <div class="form-group">
        <label asp-for="Director"> </label>
        <input asp-for="Director" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"> </label>
        <input asp-for="ImageUrl" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="GenreId"> </label>
        <select asp-for="GenreId" asp-items="@ViewBag.genres" class="form-control">
            <option selected="selected">Seçiniz</option>

        </select>
        <span asp-validation-for="GenreId" class="text-warning"></span>
    </div>
    <button type="submit" class="btn btn-outline-primary"><b>Sumbit</b></button>
</form>