@model Movie

@section header
{
    @await Html.PartialAsync("_HeaderPartialView")

}

@section script
{
  <script src="~/js/script.js"></script>

}


<h1>All Movie List</h1>
<div id="filmler">

    @await Html.PartialAsync("_movie" , Model)
</div>

<p>Movies/ındex</p>