@model MoviesViewModel





<h1>Film Listesi</h1>
<div id="filmler">

    @if (Model.Movies.Count() > 0)
    {
        @foreach (var item in Model.Movies)
        {
            @await Html.PartialAsync("_movie", item)
        }
    }
    else
    {
        <div class="alert alert-warning">
           İlgili kategoriye ait Film / Dizi Bulunamadı ...
        </div>
    }


</div>

@section menu
    {
    @*@await Html.PartialAsync("_MenuPartialView",Model.Genres)*@
@await Component.InvokeAsync("Genres")

}

